*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Source Sans Pro", sans-serif;
  --secondary-font: "Pinyon Script", cursive;
  --body-font: "Cabin", sans-serif;
  --main-font-color-dark: #252525;
  --secondary-font-color: #a81805;
  --tertiary-font-color: blue;
  --body-font-color: #515151;
}

html {
  font-family: var(--body-font);
  font-size: 10px;
  color: var(--body-font-color);
  scroll-behavior: smooth;
}

section {
  padding: 3.9rem 0;
}

img {
  width: 100%;
  max-width: 100%;
  /* won't over-flow its parents */
}

a.logo {
  /* position: absolute; */
  width: 300px;
  padding-top: 15rem;
  padding-right: 0.5rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

/* header */

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); */
}

.header-contact {
  line-height: 120px;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 1rem;
  margin-left: 80rem;
  max-width: 43rem;
  text-align: center;
  color: white;
}

.nav {
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-toggle {
  color: #fff;
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
  cursor: pointer;
  z-index: 1500;
  display: block;
  /* stays on top of everything */
}

.fa-times {
  display: none;
}

.nav-list {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: var(--main-font-color-dark);
  padding: 4.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1250;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.nav::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.close fa-times {
  display: none;
}

.close fa-bars {
  display: block;
}

.close .nav-list {
  transform: translateX(-1);
}

.open .fa-times {
  display: block;
  position: sticky;
}

.open .fa-bars {
  display: none;
}

.open .nav-list {
  transform: translateX(0);
}

.nav-item {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.nav-link {
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-right: -2px;
  transition: color.5s;
}

.nav-link:hover {
  color: var(--secondary-font-color);
}

/* Hero */
.hero {
  width: 100%;
  height: 100vh;
  background-color: #b3b1ae;
  background-image: radial-gradient(
    circle farthest-corner at 50.3% 44.5%,
    rgba(116, 147, 179, 1) 0%,
    rgba(62, 83, 104, 1) 100.2%
  );
  /* background-image: linear-gradient(132deg, #b3b1ae 0%, #292b2b 100%); */
  background-size: cover;
  align-items: center;
  display: flex;
  text-align: center;
}

.sub-headline {
  font-size: 8rem;
  font-family: var(--secondary-font);
  color: var(--secondary-font-color);
  font-weight: 100;
  line-height: 0.4;
  letter-spacing: 0.5px;
  opacity: 0;
  animation: fadeUp .5s forwards;
  animation-delay: .5s;
}

.first-letter {
  text-transform: uppercase;
  font-size: 10.3rem;
}

.headline {
  color: white;
  font-size: 3.7rem;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: 250;
  letter-spacing: 0.2rem;
  padding-top: 0.5rem;
  margin-right: -0.5rem;
  animation: scale .5s forwards;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 100%;
  max-width: 8.4rem;
  height: 0.25rem;
  background-color: white;
  position: relative;
  opacity: 0;
  animation: enlarge 2s forwards;
  animation-delay: .9s;
}

.line-right::before,
.line-left::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0.6rem solid transparent;
  opacity: 0;
  animation: enlarge .5s forwards;
  animation-delay: 1.2s;
}

.line-right::before {
  border-right-color: white;
  right: 0;
}

.line-left::before {
  border-left-color: white;
  left: 0;
}

.asterisk {
  font-size: 1.2rem;
  color: var(--secondary-font-color);
  margin: 0 1.6rem;
  opacity: 0;
  animation: spin .5s forwards;
  animation-delay: 1s;
}

.headline-description h5 {
  color: white;
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  letter-spacing: 3px;
  margin-right: -3px;
  opacity: 0;
  animation: fadeUp .5s forwards;
  animation-delay: 1.3s;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  initial-letter: 2px;
  margin-right: -2px;
  opacity: 0;
  animation: fadeUp .5s forwards;
  animation-delay: 1.8s;

}

.cta-btn {
  font-size: 1.1rem;
  background-color: white;
  padding: 0.9rem 1.8rem;
  color: var(--body-font-color);
  border-radius: 0.4rem;
  transition: background-color 0.5s;
}

.cta-btn:hover,
.cta-btn:focus {
  color: white;
  background-color: var(--secondary-font-color);
}

/* ABOUT US */

.global-headline {
  text-align: center;
  margin-top: 3.9rem;
}

.about-us .global-headline {
  margin-top: 6.9rem;
}

.global-headline .asterisk {
  color: var(--body-font-color);
  margin: 2.4rem 0;
  opacity: 0;
  animation: spin .5s forwards;
  animation-delay: 1s;
}

.headline-dark {
  color: var(--main-font-color-dark);
  letter-spacing: 0.7rem;
  margin-right: -0.7rem;
}

.global-headline .sub-headline {
  letter-spacing: -0.1px;
  line-height: 0.42;
}

.school-info {
  text-align: center;
}

.school-description {
  margin-bottom: 3rem;
}

.school-description p {
  line-height: 1.6rem;
  margin-bottom: 2.4rem;
}

.body-btn {
  font-size: 1.5rem;
  color: var(--secondary-font-color);
  position: relative;
  transition: color 0.5s;
}

.body-btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-font);
  transition: background-color 0.5s;
}

.body-btn:hover::before,
.body-btn:focus::before {
  background-color: var(--main-font-color-dark);
}


/* LESSONS */

.courses {
  background-image: radial-gradient(
    circle farthest-corner at 50.3% 44.5%,
    rgba(116, 147, 179, 1) 0%,
    rgba(62, 83, 104, 1) 100.2%
  );
  background-blend-mode: multiply, multiply;
  /* background: url("images/courses.jpeg") center no repeat; */
  background-size: cover;
}

.between {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.pricelist {
  font-family: var(--main-font);
  position: relative;
  justify-content: center;
  display: flex;
  margin-top: 8rem;
}

.card {
  position: relative;
  background: #eee;
  color: var(--secondary-font-color);
  width: 250px;
  height: 400px;
  border-radius: 15px;
  margin: 30px;
  transition: all ease-in-out 0.8s;
}

.card:hover{
  box-shadow: 0 0 0 20em inset #555555;
  color: #eee;
}

.title{
  font-size: 14px;
  padding: 2px;
  text-align: center;
  font-weight: bold;
  margin-top: 10rem;
  text-transform: uppercase;
}

.price{
  margin-top: -25px;
  text-align: center;
}

.price h5{
  font-size: 4em;
  margin-top: 20px;
  padding: 20px;
}

.price h5 sup{
  font-size: 25px
}

.option{
  position: relative;
  padding: 10px;
}

.option li{
  text-align: center;
  font-size: 12px;
  padding: 2px;
  font-weight: bold;
  list-style: none;
}

/* CONTACT */

.contact-us .global-headline {
  margin-top: 6.9rem;
}

.contact-us p {
  text-align: center;
}

.alert {
  text-align: center;
  padding: 10px;
  background: rgb(20, 151, 20);
  color: white;
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-size: 20px;
  letter-spacing: 1.5px;
  display: none;
  border-radius: 5rem;
}

.form {
  margin-top: 11.5%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form .cta-btn {
  border: 0.5px solid black;
}

input {
  width: 100%;
  margin: 20px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
}

#message {
  margin-top: 60px;
}

::-webkit-input-placeholder {
  color: var(--secondary-font-color);
  font-size: 12px;
  letter-spacing: 2px;
}

/* FOOTER */

footer{
  padding: 7.9rem 0;
  background-color: #121212;
  color: white;
  text-align: center;
  position: relative;
}

.back-to-top{
  width: 7rem;
  height: 7rem;
  background-color: #121212;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.back-to-top i{
  display: block;
  color: #fff;
  font-size: 2rem;
  padding: 2rem;
  animation: up 1.9s infinite;
}

.footer-content{
  overflow: hidden;
}

.footer-content h4{
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

.footer-content .asterisk i{
  margin: 2.4rem 0;
  color: white;
}

.footer-content-about {
  margin-bottom: 5rem;
}

.footer-content p{
  margin-bottom: 2rem;
  line-height: 2;
}

.social-icons{
  list-style: none;
  margin-bottom: 5.4rem;
  display: flex;
  justify-content: center;
}

.social-icons i{
  font-size: 2rem;
  color: white;
  padding: .8rem 2rem;
  opacity: .5;
  transition: color .5s;
}

.social-icons i:hover,
.social-icons i:focus{
 color: rgb(219, 34, 34);
}

/* RESPONSIVE DIMENSIONS */

@media screen and (min-width: 900px) {

  .menu-toggle {
    display: none;
  }

  .nav {
    float: right;
  }

  .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    flex-direction: row;
    transform: initial;
    transition: initial;
  }

  .nav-item {
    margin: 0 2.4rem;
    border: none;
  }

  .nav-item:last-child{
    margin-right: 0;
  }

  .nav-link {
    font-size: 1.3rem;
  }

  .active {
    position: relative;
  }

  .active:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    left: 0;
    bottom: -3px;
  }

  .sub-headline{
    font-size: 10rem;
  }

  .first-letter{
    font-size: 12.2rem;
  }

  .headline{
    font-size: 4.7rem;
    letter-spacing: .8rem
  }

  .line{
    max-width: 11.4rem;
  }

  .footer-content{
    max-width: 77.5rem;
    margin: auto;
  }
  
  .footer-content-about {
    max-width: 51.3rem;
    margin: 0 auto 5.4rem;
  }
  
  .social-icons i{
    opacity: 1;
  }
}

/* FORM RESPONSIVENESS */

/* XS */
@media screen and (min-width: 500px) and (max-width: 600px) {
  .form {
    margin-top: 40%;
  }
}

/* S  */
@media screen and (min-width: 600px) and (max-width: 860px) {
  .form {
    margin-top: 30%;
  }
}

/* M */
@media screen and (min-width: 860px) and (max-width: 1200px) {
  .form {
    margin-top: 20%;
  }

}

/* L */
@media screen and (min-width: 1200px) and (max-width: 1573px) {
 .form {
    margin-top: 15%;
  }
}

/* ANIMATIONS */

@keyframes fadeUp {
  0%{
    transform: translateY(4rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale {
  0%{
    transform: scale(2);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes enlarge {
  0%{
   width: 0;
  }
  100%{
    opacity: 1;
    width: 100%;
  }
}

@keyframes spin {
  0%{
   transform: rotate(0);
  }
  100%{
    opacity: 1;
    transform: rotate(-360deg);
  }
}


@keyframes fadeDown {
  0%{
    transform: translateY(-1rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes up {
  0%{
   opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateY(-1rem);
  }
}


